{% extends "base_account.html" %}
{% block title %}牛批熊貓 - 後台登入{% endblock %}
{% block formTitle %}後台登入{% endblock %}
{% block content %}
  <form method="post" class="col-12 col-md-10" action="{% url 'login' %}">
    <!-- 防止csrf攻擊 -->
    {% csrf_token %}

    <div class="input-group my-2 mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="{{ form.username.html_name }}" class="form-control" id="{{ form.username.id_for_label }}">
    </div>
    <div class="input-group my-2 mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
        </div>
        <input type="password" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}">
    </div>

    {% if form.errors %}
    <p class="text-danger">帳號或密碼有誤，請重新嘗試。</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p class="text-danger">您的帳號無權存取此頁面。請使用具有存取權限的帳號登入。</p>
        {% else %}
        <p class="text-danger">請登入以存取此頁面。</p>
        {% endif %}
    {% endif %}

    <input type="submit" class="col-10 col-md-5 btn btn-info my-2 mx-2" value="登入" />
    <input type="hidden" name="next" value="{{ next }}" /><br>
    <a class="text-secondary" href="{% url 'password_reset' %}">忘記密碼？</a>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}
