{% extends "base_account.html" %}
{% block title %}牛批熊貓 - 忘記密碼{% endblock %}
{% block formTitle %}忘記密碼{% endblock %}
{% block content %}

    <form method="post" class="col-12 col-md-10" action="">
        <!-- 防止csrf攻擊 -->
        {% csrf_token %}
        <div class="input-group my-2 mr-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="password" name="{{ form.email.html_name }}" class="form-control" id="{{ form.password.id_for_label }}">
        </div>
        {% if form.email.errors %}
            <p class="text-danger">請輸入有效的Email。</p>
        {% endif %}
        <input type="submit" class="col-10 col-md-5 btn btn-info my-2 mx-2" value="發送驗證信" />
    </form>

{% endblock %}