{% extends "base_account.html" %}
{% block title %}牛批熊貓 - 重設密碼{% endblock %}

{% block content %}
  {% if validlink %}
    <h2>重設密碼</h2>
    <form method="post" class="col-12 col-md-10" action="">
        <p class="text-info">請輸入兩次新密碼</p>
        
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <div class="input-group my-2 mr-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1">
        </div>
        <p class="text-danger">{{ form.new_password1.errors }}</p>
        <div class="input-group my-2 mr-2">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2">
        </div>
        <p class="text-danger">{{ form.new_password2.errors }}</p>

        <input type="submit" class="col-10 col-md-5 btn btn-info my-2 mx-2" value="確認" />
    </form>
  {% else %}
    <h1>重設失敗</h1>
    <p>密碼重設連結無效，可能是因為該連結已被使用。請重新要求重設密碼。</p>
  {% endif %}

{% endblock %}