{% extends "base.html" %}
{% load static %}
{% block title %}牛批熊貓 - 抽籤說明{% endblock %}
{% block navInfoLottery %}active{% endblock %}
{% block content %}

<div class="jumbotron" style="background-color: #ffecd1;">
  <div class="col-md-5 py-2 px-5 my-2" style=" z-index:2;">
    <h1 class="display-4 font-weight-normal">抽籤功能說明</h1>
    <p class="font-weight-normal">本喵學過的話，原則上以常用次數判定權重，而抽籤功能可以從關鍵字回覆中隨機抽出一個詞條。關鍵字為「牛批貓+關鍵字」或「抽籤+關鍵字」。</p>
    <a class="btn btn-outline-dark" href="{% url 'index' %}">回首頁</a>
  </div>
  <div class="" style="position: absolute; right: 10%; bottom: 50%; z-index:1;"><img width="200" src="{% static 'images/lottery_decorator.svg' %}" /></div>
</div>

<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-md-6 my-4 pb-5 px-2 col-md-border-right col-lg-border-right col-sm-border-bottom">
      <h2 class="my-3 font-weight-bold">範例一</h2>
      <!--對話區-->
      <div class="mx-auto text-left" style="max-width: 400px;">
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">學說話；抽神籤；甲子籤；乙丑籤；丙寅籤</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">好哦的喵～</div>
        </div>
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">抽籤神籤</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">乙丑籤</div>
        </div>
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">牛批貓神籤</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">丙寅籤</div>
        </div>
      </div>
      <!---->
    </div><!-- /.col-lg-4 -->

    <div class="col-md-6 my-4 pb-5 px-2 col-md-border-right col-lg-border-right col-sm-border-bottom">
      <h2 class="my-3 font-weight-bold">範例二</h2>
      <!--對話區-->
      <div class="mx-auto text-left" style="max-width: 400px;">
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">學說話；吃什麼；漢堡；薯條</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">好哦的喵～</div>
        </div>
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">學說話；吃什麼；雞排</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">好哦的喵～</div>
        </div>
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">牛批貓吃什麼</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">雞排</div>
        </div>
        <div class="row justify-content-end m-2">
          <div class="col-auto bg-lightgreen px-3 py-2 rounded-pill">抽籤吃什麼</div>
        </div>
        <div class="row m-2">
          <div class="col-auto bg-lightgray px-3 py-2 rounded-pill">漢堡</div>
        </div>
      </div>
      <!---->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  
  <hr>
</div> <!-- /container -->
{% endblock %}