{% extends "base.html" %}
{% block title %}牛批熊貓 - 檢視資料庫{% endblock %}
{% block navDB %}active{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 mt-3">檢視資料庫</h1>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="statements-tab" data-toggle="tab" href="#nav-statements" role="tab" aria-controls="statements" aria-selected="true">詞條一覽</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="received-tab" data-toggle="tab" href="#nav-received" role="tab" aria-controls="received" aria-selected="false">歷史接收</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reply-tab" data-toggle="tab" href="#nav-reply" role="tab" aria-controls="reply" aria-selected="false">歷史回覆</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="users" aria-selected="false">使用者一覽</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="nav-statements" role="tabpanel" aria-labelledby="statements-tab">
      <table 
        data-toggle="table"
        data-url="../jsonData/statements"
        data-search="true"
        data-sort-name="id"
        data-sort-order="desc"
        data-page-size="10"
        data-page-list="[5, 10, 15, 20, 50, 100, all]"
        data-pagination="true"
        data-show-pagination-switch="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-refresh="true"
        data-show-fullscreen="true">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="keyword" data-sortable="true">關鍵字</th>
            <th data-field="response" data-sortable="true">回覆</th>
            <th data-field="create_at" data-sortable="true">建立時間</th>
            <th data-field="channel_id" data-sortable="true">頻道ID</th>
            <th data-field="channel_type" data-sortable="true">頻道類型</th>
            <th data-field="priority" data-sortable="true">權重</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-received" role="tabpanel" aria-labelledby="received-tab">
      <table 
        data-toggle="table"
        data-url="../jsonData/received"
        data-search="true"
        data-sort-name="id"
        data-sort-order="desc"
        data-page-size="10"
        data-page-list="[5, 10, 15, 20, 50, 100, all]"
        data-pagination="true"
        data-show-pagination-switch="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-refresh="true"
        data-show-fullscreen="true">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="type" data-sortable="true">訊息類型</th>
            <th data-field="message" data-sortable="true">訊息</th>
            <th data-field="channel_id" data-sortable="true">頻道ID</th>
            <th data-field="create_at" data-sortable="true">建立時間</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-reply" role="tabpanel" aria-labelledby="reply-tab">
      <table 
        data-toggle="table"
        data-url="../jsonData/reply"
        data-search="true"
        data-sort-name="id"
        data-sort-order="desc"
        data-page-size="10"
        data-page-list="[5, 10, 15, 20, 50, 100, all]"
        data-pagination="true"
        data-show-pagination-switch="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-refresh="true"
        data-show-fullscreen="true">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="type" data-sortable="true">訊息類型</th>
            <th data-field="valid" data-sortable="true">有效度</th>
            <th data-field="message" data-sortable="true">訊息</th>
            <th data-field="channel_id" data-sortable="true">頻道ID</th>
            <th data-field="create_at" data-sortable="true">建立時間</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="users-tab">
      <table 
        data-toggle="table"
        data-url="../jsonData/users"
        data-search="true"
        data-sort-name="id"
        data-sort-order="desc"
        data-page-size="10"
        data-page-list="[5, 10, 15, 20, 50, 100, all]"
        data-pagination="true"
        data-show-pagination-switch="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-refresh="true"
        data-show-fullscreen="true">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="channel_id" data-sortable="true">頻道ID</th>
            <th data-field="globaltalk" data-sortable="true">全域詞條</th>
            <th data-field="mute" data-sortable="true">靜音</th>
            <th data-field="allowpush" data-sortable="true">允許推播</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <hr>
</div> <!-- /container -->
{% endblock %}